include LICENSE README.rst CHANGES.rst
include tox.ini .coveragerc

recursive-include tests *.html
recursive-include tests *.py
recursive-include tests *.rst
recursive-include tests *.txt
recursive-include tests *.md
